@import "../../general/scss/settings";

.wrapper {
  display: grid;
  grid-gap: 12px;

  &__list {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    max-width: 300px;
  }

  &__item {
    color: $color-pinky;
      flex-grow: 1;

    &:nth-child(2n) {
      color: $color-white;
    }
  }

  &__btn {
    width: 100%;
  }
}
