@import '../../general/scss/settings';

.kona-grid {
    position: relative;
    display: grid;

    grid-template-columns: 300px 1fr;
    grid-template-rows: auto 1fr;
    gap: 15px;
    grid-template-areas: 'filters grid' 'filters loadmore';
    align-items: flex-start;

    &__filters {
        grid-area: filters;
        display: flex;
        width: 100%;
        flex-direction: column;
        gap: 15px;
    }

    &__list {
        grid-area: grid;
        grid-gap: 20px;
        grid-template-columns: repeat(auto-fill, 150px);
        display: grid;
        justify-content: space-between;
        list-style: none;
    }

    &__item {
        display: block;
        list-style: none;
    }

    &__spinner {
        top: auto;
        bottom: 0;
    }

    &__load-more {
        grid-area: loadmore;
        margin-top: 20px;
        display: flex;
        width: 100%;
        justify-content: center;
    }
}
