.kona-grid-search {

    &__form {
        display: flex;
        width: 100%;
        position: relative;
    }

    &__input {
        flex-grow: 1;
        display: block;
        appearance: none;
        border: none;
        font-size: 14px;
        padding: 5px 10px;
    }

    &__btn {

    }
}
