@import "../../general/scss/settings";

.kona-image {
  $this: &;

  display: block;
  text-decoration: none;
  position: relative;

  &__inner {
    position: relative;
    z-index: 0;
    width: 150px;

    &::before {
      content: "";
      display: block;
      padding-top: 56.5%;
    }

    img {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      object-fit: contain;
      transition: transform 0.3s ease-out;
      pointer-events: none;
    }

    @include hover-focus {
      z-index: 1;

      img {
        transform: scale(3);
      }
    }
  }

  &__tags {
    @include pretty-scroll($color-pinky, 0.2);

    width: 100%;
    overflow-x: auto;
    display: flex;
    gap: 10px;
    scroll-snap-type: x mandatory;
  }

  &__tag {
    @include reset-button();

    padding: 0;
    cursor: pointer;
    scroll-snap-align: start;
    font-size: 12px;
    line-height: 1.2;
    color: $color-white;
    transition: color 0.3s linear;
    white-space: nowrap;

    @include hover-focus {
      color: lightgreen;
    }
  }

  &__size {
    text-align: center;
    color: $color-pinky;
    font-size: 10px;
    line-height: 1;
    padding: 2px 5px;
    text-decoration: none;
    background-color: lighten($color-dark, 10);
  }
}
