@import '../../../general/scss/settings';

.wrapper {

}

.image {
    max-width: 100%;
    max-height:  calc(100dvh - 200px);
    object-fit: contain;
}

.video {
    max-width: 100%;
    max-height: calc(100dvh - 200px);
}
