@import '../../general/scss/settings';

.wrapper {
    position: relative;
    display: grid;
    grid-template-rows: auto 1fr auto;
    gap: 15px;
    grid-template-areas: 'top' 'center' 'bottom';
    align-items: flex-start;
    align-content: flex-start;

    &__error {
        grid-area: top;
        position: sticky;
        top: 0;
    }

    &__list {
        grid-area: center;
        grid-gap: 20px;
        grid-template-columns: repeat(auto-fill, 250px);
        display: grid;
        justify-content: space-between;
        list-style: none;
    }

    &__item {
        display: block;
        list-style: none;
    }

    &__spinner {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        grid-area: bottom;
        min-height: 200px;

        &--initial {
            grid-area: center;
            margin-top: 0;
        }
    }

    &__loadMore {
        grid-area: bottom;
        display: flex;
        width: 100%;
        justify-content: center;
    }
}
